* {
    color: white;
    background-color: grey;
}
span {
    background-color: red;
}
#first {
    background-color: blue;
}
.second {
    background-color: green;
}



body > .lion {
    background-color: red;
}
ul .lion {
    background-color: greenyellow;
}
/* li.lion {
    background-color: greenyellow;
} */
/* ul > li[class="lion"] {
    background-color: greenyellow;
} */
/* ul > .lion {
    background-color: greenyellow;
} */
#tiger {
    background-color: yellow;
}
.lion {
    color: sienna;
}
.zoo .lion {
    font-weight: bolder;
}
/* div .lion {
    font-weight: bolder;
} */
#tiger + li {
    background-color: skyblue;
}
li.lion ~li {
        background-color: orange
}
/* ul .lion + li ~li {
    background-color: orange;
} */
