html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.background {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vw;
  position: relative;
  overflow: hidden;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://p4.wallpaperbetter.com/wallpaper/435/401/278/pokemon-gold-version-wallpaper-preview.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-size: 100vw;
  opacity: 0.7;
  z-index: 1;
}

.container {
  width: 100vw;
  position: relative;
  z-index: 2;
}

  .container .heroes {
    width: 550px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .container .heroes .hero {
    width: 65px;
    height: 65px;
    border: 2px solid white;
    background-color: gray;
    box-sizing: border-box;
    transform: skewX(-20deg);
    border-radius: 10%;
    margin: 5px; 
    transition: 0.5s;
  }
  
  .container .heroes .hero:hover {
    background-color: rgb(255, 208, 0);
    transform:skewX(-20deg) perspective(200px) scale(1.2); 

  }
  
  .container .heroes .hero .image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    transform: skewX(20deg);
  }
  
  /* 로고 - 수정하지 않아도 됩니다. */
  .container .logo {
    max-width: 300px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .container .logo img {
    width: 100%;
  }

  .container .heroes .hero:nth-child(1) .image {

  }
  
.container .heroes .hero:nth-child(1) .image {
  background-image: url('https://data1.pokemonkorea.co.kr/newdata/pokedex/mid/000101.png');
}

.container .heroes .hero:nth-child(2) .image {
  background-image: url('https://data1.pokemonkorea.co.kr/newdata/pokedex/mid/000501.png');
}

.container .heroes .hero:nth-child(3) .image {
  background-image: url('https://data1.pokemonkorea.co.kr/newdata/pokedex/mid/000701.png');
}

.container .heroes .hero:nth-child(4) .image {
  background-image: url('https://data1.pokemonkorea.co.kr/newdata/pokedex/mid/001001.png');
}

.container .heroes .hero:nth-child(5) .image {
  background-image: url('https://data1.pokemonkorea.co.kr/newdata/pokedex/mid/001301.png');
}

.container .heroes .hero:nth-child(6) .image {
  background-image: url('https://data1.pokemonkorea.co.kr/newdata/pokedex/mid/001601.png');
}

.container .heroes .hero:nth-child(7) .image {
  background-image: url('https://data1.pokemonkorea.co.kr/newdata/pokedex/mid/001901.png');
}

.container .heroes .hero:nth-child(8) .image {
  background-image: url('https://data1.pokemonkorea.co.kr/newdata/pokedex/mid/002501.png');
}

.container .heroes .hero:nth-child(9) .image {
  background-image: url('https://data1.pokemonkorea.co.kr/newdata/pokedex/mid/002702.png');
}

.container .heroes .hero:nth-child(10) .image {
  background-image: url('https://data1.pokemonkorea.co.kr/newdata/pokedex/mid/002601.png');
}

.container .heroes .hero:nth-child(11) .image {
  background-image: url('https://data1.pokemonkorea.co.kr/newdata/pokedex/mid/003201.png');
}

.container .heroes .hero:nth-child(12) .image {
  background-image: url('https://data1.pokemonkorea.co.kr/newdata/pokedex/mid/003701.png');
}

.container .heroes .hero:nth-child(13) .image {
  background-image: url('https://data1.pokemonkorea.co.kr/newdata/pokedex/mid/003501.png');
}

.container .heroes .hero:nth-child(14) .image {
  background-image: url('https://data1.pokemonkorea.co.kr/newdata/pokedex/mid/004101.png');
}

.container .heroes .hero:nth-child(15) .image {
  background-image: url('https://data1.pokemonkorea.co.kr/newdata/pokedex/mid/004301.png');
}

.container .heroes .hero:nth-child(16) .image {
  background-image: url('https://data1.pokemonkorea.co.kr/newdata/pokedex/mid/004801.png');
}

.container .heroes .hero:nth-child(17) .image {
  background-image: url('https://data1.pokemonkorea.co.kr/newdata/pokedex/mid/005201.png');
}

.container .heroes .hero:nth-child(18) .image {
  background-image: url('https://data1.pokemonkorea.co.kr/newdata/pokedex/mid/005401.png');
}

.container .heroes .hero:nth-child(19) .image {
  background-image: url('https://data1.pokemonkorea.co.kr/newdata/pokedex/mid/005801.png');
}

.container .heroes .hero:nth-child(20) .image {
  background-image: url('https://data1.pokemonkorea.co.kr/newdata/pokedex/mid/006001.png');
}

.container .heroes .hero:nth-child(21) .image {
  background-image: url('https://data1.pokemonkorea.co.kr/newdata/pokedex/mid/006301.png');
}

.container .heroes .hero:nth-child(22) .image {
  background-image: url('https://data1.pokemonkorea.co.kr/newdata/pokedex/mid/007701.png');
}

.container .heroes .hero:nth-child(23) .image {
  background-image: url('https://data1.pokemonkorea.co.kr/newdata/pokedex/mid/007602.png');
}

.container .heroes .hero:nth-child(24) .image {
  background-image: url('https://data1.pokemonkorea.co.kr/newdata/pokedex/mid/007702.png');
}

.container .heroes .hero:nth-child(25) .image {
  background-image: url('https://data1.pokemonkorea.co.kr/newdata/pokedex/mid/007901.png');
}

.container .heroes .hero:nth-child(26) .image {
  background-image: url('https://data1.pokemonkorea.co.kr/newdata/pokedex/mid/008101.png');
}

.container .heroes .hero:nth-child(27) .image {
  background-image: url('https://data1.pokemonkorea.co.kr/newdata/pokedex/mid/008301.png');
}

.container .heroes .hero:nth-child(28) .image {
  background-image: url('https://data1.pokemonkorea.co.kr/newdata/pokedex/mid/008601.png');
}

.container .heroes .hero:nth-child(29) .image {
  background-image: url('https://data1.pokemonkorea.co.kr/newdata/pokedex/mid/008801.png');
}

.container .heroes .hero:nth-child(30) .image {
  background-image: url('https://data1.pokemonkorea.co.kr/newdata/pokedex/mid/010002.png');
}

.container .heroes .hero:nth-child(31) .image {
  background-image: url('https://data1.pokemonkorea.co.kr/newdata/pokedex/mid/011601.png');
}

.container .heroes .hero:nth-child(32) .image {
  background-image: url('https://data1.pokemonkorea.co.kr/newdata/pokedex/mid/013001.png');
}