/* 요소 상황에 따른 가상 클래스 선택자 */
.color > * {
    background-color: dimgray;
    color: white;
}
/* 1. e:first-child :요소(e)가 첫번째 요소라면이라는 가상 상황 */
.color > *:first-child {
    color: black;
    background-color: white;
}

/* 2. e:last-child : 요소(e)가 마지막 요소라면 */
.color > li:last-child {
    background-color: purple;
}

/* 3. e:nth-child(n) : 요소(e)가 n번째 요소라면  */
.color > :nth-child(2) {
    background-color: red;
}
.color > :nth-child(3) {
    background-color: orange;
}

/* 4. e:not(xyz) : xyz가 아닌 요소 선택 */
.color >*:not(div) {
    background-color: blue;
}