div {
    width: 100px;
    height: 100px;
}

.a {
    border-width: 1px 2px 5px 10px;
    border-color: black;
    border-style: solid;
}

.b { 
    border-width: 10px;
    border-color: black red green blue;
    border-style: solid;
}

.c { 
    border-width: 10px;
    border-color: black;
    border-style: solid groove dotted double;
}

.d { 
    border-width: 10px 6px 2px 11px;
    border-color: pink yellowgreen skyblue peachpuff;
    border-style:  dashed solid groove dotted;
}