<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>신선Zip사</title>
  <style>
    html, body {
      width: 100%; /* html과 body의 너비를 100%로 설정 */
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #A7E344;
      font-size: 62.5%;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      margin: 0; /* 여백 제거 */
      padding: 0; /* 여백 제거 */
    }

    .container {
      width: 100%; 
      height: 20rem;
      position: relative;
      display: flex; 
      justify-content: center;
      align-items: center;
    }

    .svg-container {
        z-index: 2;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%; 
        height: 100%;
        max-width: 250px;
        max-height: 200px;
    }

    .mo-container {
      width: auto;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .line {
      fill: none;
      stroke: #FFFFFF;
      stroke-width: 8;
      stroke-linecap: round;
    }

    .image {
      width: auto;
      height: 80px;
      transition: opacity 0.5s ease;
    }

    .sound {
      position: fixed;
      color: #fcfcfc;
      font-size: 1.6rem;
      bottom: 1rem;
      right: 1rem;
      text-decoration: underline;
      cursor: default;
    }

    .sound--off {
      text-decoration: line-through;
    }
  </style>
</head>
<body>
  <div class="container">
    <svg class="svg-container" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 200" preserveAspectRatio="none">
      <line class="line line--left" x1="66.66" y1="50" x2="333.34" y2="50"></line>
      <line class="line line--right" x1="66.66" y1="150" x2="333.34" y2="150"></line>
    </svg>
  
  
    <div class="mo-container">
      <img src="./images/fridge.png" alt="Fridge Image" class="image" id="image">
    </div>
  </div>
  

  <audio class="blup" style="display: none">
    <source src="https://www.freesound.org/data/previews/265/265115_4373976-lq.mp3" type="audio/ogg">
  </audio>
  <audio class="blop" style="display: none">
    <source src="https://www.freesound.org/data/previews/265/265115_4373976-lq.mp3" type="audio/ogg">
  </audio>
  <div class="sound">sound</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/mo-js/0.288.2/mo.min.js"></script>
  <script>
    const qs = document.querySelector.bind(document);

    const el = {
      container: qs('.mo-container'),
      lineLeft: qs('.line--left'),
      lineRight: qs('.line--right'),
      image: qs('#image'),
      colTxt: "#03a9f4",
      colHeart: "#fa4843",
      blup: qs('.blup'),
      blop: qs('.blop'),
      sound: qs('.sound')
    };

    const crtBoom = (delay = 0, x = 0, rd = 46) => {
      parent = el.container;
      const crcl = new mojs.Shape({
        shape:        'circle',
        fill:         'none',
        stroke:        el.colTxt,
        strokeWidth:  { 5 : 0 },
        radius:       { [rd] : [rd + 20] },
        easing:       'quint.out',
        duration:     500 / 3,
        parent,
        delay,
        x
      });
      
      const brst = new mojs.Burst({
        radius:       { [rd + 15] : 110 },
        angle:        'rand(60, 180)',
        count:        3,
        timeline:     { delay },
        parent,
        x,
        children: {
          radius:       [5, 3, 7],
          fill:         el.colTxt,
          scale:        { 1: 0, easing: 'quad.in' },
          pathScale:    [ .8, null ],
          degreeShift:  [ 'rand(13, 60)', null ],
          duration:     1000 / 3,
          easing:       'quint.out'
        }
      });
      
      return [crcl, brst];
    };

    const crtLoveTl = () => {
      const move        = 500;
      const boom        = 200;
      const easing      = 'sin.inOut';
      const easingBoom  = 'sin.in';
      const easingOut   = 'sin.out';
      const opts        = { duration: move, easing, opacity: 1 };
      const delta       = 100;
      const letterHeight = 50;
      const lineHeight = 8;
      const additionalGap = lineHeight * 2;
      const totalGap = (letterHeight / 2) + additionalGap;

      return (new mojs.Timeline).add([
        new mojs.Tween({
          duration: move,
          onStart: () => {
          },
          onComplete: () => {
            el.blop.play();
          }
        }),
        
        new mojs.Tween({
          duration: move * 2 + boom - delta,
          onComplete: () => {
            el.blop.play();
          }
        }),
      
        new mojs.Tween({
          duration: move * 4 - delta,
          onComplete: () => { 
            el.blop.play();
          }
        }),
      
        new mojs.Tween({
          duration: move * 4 - delta,
          onComplete: () => { 
            el.blup.play();
          }
        }),
      
        new mojs.Tween({
          duration: 50,
          delay: 4050,
          onUpdate: (progress) => {
          },
          onComplete: () => {
          }
        }),

        new mojs.Tween({
          duration: 2000,
          easing: 'quad.inOut',
          onUpdate: (progress) => {
            const currentY = progress * (100 - totalGap);
            el.lineLeft.setAttribute('y1', currentY);
            el.lineLeft.setAttribute('y2', currentY);
            
            el.image.style.width = "80px"; 
            const fridgeHeight = 110 - (progress * 40);
            el.image.style.height = `${fridgeHeight}px`;

            if (progress > 0.99) {
                el.image.src = "./images/zip.png";
            }
          }
        }),

        new mojs.Tween({
          duration: 2000,
          easing: 'quad.inOut',
          onUpdate: (progress) => {
            const currentY = 200 - (progress * (100 - totalGap));  
            el.lineRight.setAttribute('y1', currentY);
            el.lineRight.setAttribute('y2', currentY);
          }
        }),

        ...crtBoom(move, -64, 36),
        ...crtBoom(move * 2 + boom - delta, 18, 34),
        ...crtBoom(move * 4 - delta, -64, 24),
        ...crtBoom(move * 4 - delta, 36, 66)
      ]);
    };

    const loveTl = crtLoveTl().play();

    // 3000ms 후에 index.ejs로 이동
    setTimeout(() => { 
        window.location.href = "/selectFridge";
    }, 3000);

    // 브라우저 크기 변경에 따라 선 길이 조정
    const adjustLines = () => {
    const svgContainer = document.querySelector('.svg-container');
    const lineLeft = document.querySelector('.line--left');
    const lineRight = document.querySelector('.line--right');
    const currentWidth = svgContainer.clientWidth;

    const newLength = currentWidth * 0.6667; // 선의 길이를 전체 너비의 2/3로 설정
    const center = currentWidth / 2;
    const halfLength = newLength / 2;

    const newX1 = Math.round(center - halfLength); // 좌측 좌표
    const newX2 = Math.round(center + halfLength); // 우측 좌표

    console.log(`SVG Container Width: ${currentWidth}px`);
    console.log(`Adjusted Left Line: x1=${newX1}, x2=${newX2}`);
    console.log(`Adjusted Right Line: x1=${newX1}, x2=${newX2}`);

    lineLeft.setAttribute('x1', newX1);
    lineLeft.setAttribute('x2', newX2);

    lineRight.setAttribute('x1', newX1);
    lineRight.setAttribute('x2', newX2);
  };

  // 윈도우 리사이즈 시 adjustLines 함수 호출
  window.addEventListener('resize', adjustLines);
  adjustLines();





    const volume = 0.2;
    el.blup.volume = volume;
    el.blop.volume = volume;

    const toggleSound = () => {
      let on = true;
      return () => {
        if (on) {
          el.blup.volume = 0.0;
          el.blop.volume = 0.0;
          el.sound.classList.add('sound--off')
        }
        else {
          el.blup.volume = volume;
          el.blop.volume = volume;
          el.sound.classList.remove('sound--off')
        }
        on = !on;
      }
    }
    el.sound.addEventListener('click', toggleSound());
  </script>
</body>
</html>
