.container {
    position: relative;

}
.head {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid rgb(68, 129, 227);
    background-color: rgb(97, 181, 255);
    position: absolute;
    left: 300px;
    top: 100px;
    animation: head 2s ease-in-out  infinite  ;
}
@keyframes head {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translateY(-10px);
    }
}


.body {
    width: 100px;
    height: 250px;
    border-top-left-radius: 80%;
    border-top-right-radius: 20%;
    border: 1px solid rgb(68, 129, 227);
    background-color: rgb(97, 181, 255);
    position: absolute;
    left: 250px;
    top: 220px;
    animation: body 4s ease-in-out  infinite  ;
}
@keyframes body {
    0% {
        transform: translate(0);
    }
    25% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(0px);
    }
    75% {
        transform: translateY(-10px) rotate(2deg);
    }
}

.feet {
    position: relative;
}

.footL {
    width: 60px;
    height: 20px;
    border-top-left-radius: 50%;
    border-top-right-radius: 90%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    border: 1px solid rgb(68, 129, 227);
    background-color: rgb(97, 181, 255);
    position: absolute;
    left: 240px;
    top: 600px;
    animation: footL 2s linear  infinite  ;
}
@keyframes footL {
    0% {
        transform: translate(0);
    }
    15% {
        transform: translate(15px, -13px) ;
    }
    28% {
        transform: translate(38px, -20px) ;
    }
    50% {
        transform: translate(60px, 0px);
    }
    75% {
        transform: translate(15px,0px);
    }
}

.footR {
    width: 60px;
    height: 20px;
    border-top-left-radius: 50%;
    border-top-right-radius: 90%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    border: 1px solid rgb(68, 129, 227);
    background-color: rgb(97, 181, 255);
    position: absolute;
    left: 240px;
    top: 600px;
    animation: footR 2s linear 1s infinite  ;
}
@keyframes footR {
    0% {
        transform: translate(0);
    }
    15% {
        transform: translate(15px, -13px) ;
    }
    28% {
        transform: translate(38px, -20px) ;
    }
    50% {
        transform: translate(60px, 0px);
    }
    75% {
        transform: translate(15px,0px);
    }
}