h3:hover {
    background-color: black;
    color: white;

}
textarea:focus {
    background-color: pink;
}
input[type="checkbox"]:checked + label[for="red"] {
    background-color: red;
}
/* input[id="red"]:checked + label {
    background-color: green;
} */
/* input[type="checkbox"]#red:checked + label {
    background-color: yellow;
} */
/* #red:checked +label {
    background-color: grey;
} */
button:active {
    background-color: gray;
    color: red;
}