.box::before {
    content: "택시!";
    color: red;
    }
    .box::after {
        content: "빨리!";
        }

[disabled] {
    background-color: red;
}
s
[placeholder="이름"] {
background-color: orange;
}

input:not([placeholder]) {
background-color: blue;
}
    