
.border {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(300deg, rgb(255, 61, 94), yellow);
    padding: 10px;
}

.contents {
    width: 300px;
    height: 300px;
    border: 10px solid white;
    border-radius: 50%;
    background :url(./image/1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}



/* .border {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(300deg, rgb(255, 61, 94), yellow);
    position: relative;
}

.contents {
    width: 260px;
    height: 260px;
    border: 10px solid white;
    border-radius: 50%;
    background :url(./image/1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
    /* box-sizing: border-box; */

} */









