
.box {
    width: 200px;
    height: 100px;
    background-color: skyblue;
    overflow: scroll;
    /* overflow: auto; */

    /* overflow-y: visible; */
    /* overflow-y: hidden; */
    /* overflow-x: scroll; */

}