.container {
    display: flex;
    gap: 20px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: black;
    border: 1px solid red;
    border-radius: 10%;
}

@media screen and (max-width:700px) {
    .container{
        flex-direction: column;
    }
    
    .box {
        background-color: skyblue;
    }
}