<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Category</title>
    <link rel="stylesheet" href="categoryPage_1.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
        body {
            height: 100vh;
            display: flex;
            flex-direction: column;
            margin: 0;
            background-color: #000;
            align-items: center;
            justify-content: center;
            user-select: none;
        }
        .search-container {
            position: absolute;
            top: 12vh;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            align-items: center;
            width: 85%; /* 부모 요소의 80% */
            max-width: 1000px; /* 최대 너비 설정 */
        }

        .header {
            position: absolute;
            top: 10px;
            right: 10px;
            display: flex;
            align-items: center;
        }
        .search-input {
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-right: 10px;
            width: 100%; /* 부모 요소의 100% */
            max-width: 900px; /* 최대 너비 설정 */
            box-sizing: border-box; /* 패딩과 보더를 포함한 너비 계산 */
        }
        .search-button, .login-button {
            padding: 10px 20px;
            font-size: 16px;
            border: 1px solid #3D0402;
            border-radius: 5px;
            background-color: transparent;
            color: #F0F0F0;
            cursor: pointer;
            margin-right: 10px;
            transition: background-color 0.3s ease;
        }
        .search-button:hover, .login-button:hover {
            background-color: #3D0402;
        }
        .group {
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            margin-top: 14vh; /* 원하는 만큼의 값을 설정하여 위치를 조정합니다 */
        }
        .item {
            width: 15vw;
            height: 65vh;
            background-position: center;
            background-size: 75vh;
            margin: 1vw;
            border-radius: 3vw;
            display: inline-block;
            cursor: pointer;
            position: relative;
        }
        .text {
            color: white;
            font-size: 1em;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
            text-align: center;
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
        }
        /* 마이페이지 버튼 추가 */
        .mypage-button {
            padding: 10px 20px;
            font-size: 16px;
            border: 1px solid #3D0402;
            border-radius: 5px;
            background-color: transparent;
            color: #F0F0F0;
            cursor: pointer;
            margin-right: 10px;
            transition: background-color 0.3s ease;
        }
        .mypage-button:hover {
            background-color: #3D0402;
        }

    </style>
</head>
<body>
    <div class="search-container">
        <input type="text" placeholder="ex. 교통, 서적, 카드이름(노리, 첵첵 etc..)" class="search-input">
        <button class="search-button">Search</button>
    </div>
    <div class="header">
        <button class="login-button">Login</button> <!-- 서버에서 전달받은 로그인 상태에 따라 텍스트 변경 -->
    </div>
    <div class="group">
        <div class="item" data-category="traffic" style="background-image: url(https://images.unsplash.com/photo-1589392764091-2aaa3afe42df?q=80&w=2187&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
            <div class="text">Transportation</div>
        </div>
        <div class="item" data-category="store" style="background-image: url(https://images.unsplash.com/photo-1697469530065-fb5db4744d2b?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
            <div class="text">Convenience</div>
        </div>
        <div class="item" data-category="cafe" style="background-image: url(https://images.unsplash.com/photo-1569096651661-820d0de8b4ab?q=80&w=1863&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
            <div class="text">Cafe</div>
        </div>
        <div class="item" data-category="sub" style="background-image: url(https://images.unsplash.com/photo-1574375927938-d5a98e8ffe85?q=80&w=1738&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
            <div class="text">Streaming</div>
        </div>
        <div class="item" data-category="book" style="background-image: url(https://images.unsplash.com/photo-1595123336219-5eedd543bc4a?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
            <div class="text">Book</div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
    <script>
          //서버에서 로그인 상태 확인
          window.addEventListener('pageshow', function(event){
            fetch('/user/checkLoginStatus')
            .then(response => response.json())
            .then(data => {
                const loginButton = document.querySelector('.login-button');
                const existingMypageButton = document.querySelector('.mypage-button'); // 기존 마이페이지 버튼을 찾음
                loginButton.textContent = data.isLoggedIn ? 'Logout' : 'Login'; // 로그인 상태에 따라 버튼 텍스트 변경
                
                // 기존 마이페이지 버튼이 있으면 제거
                if (existingMypageButton) {
                    existingMypageButton.remove();
                }

                // 로그인 상태일 때만 마이페이지 버튼 추가
                if (data.isLoggedIn) {
                    const mypageButton = document.createElement('button');
                    mypageButton.textContent = 'My Page';
                    mypageButton.classList.add('mypage-button');
                    mypageButton.addEventListener('click', () => {
                        window.location.href = '/profile';
                    });
                    document.querySelector('.header').appendChild(mypageButton);
                }

                // 로그인 버튼 클릭 이벤트 처리
                loginButton.onclick = () => { // 기존에 이벤트를 추가하는 것이 아니라 onclick을 사용하여 항상 이벤트를 하나만 유지
                    if (data.isLoggedIn) {
                        logout(); // 로그아웃 함수 호출
                    } else {
                        window.location.href = '/user/login';
                    }
                };
            });
        });

       //로그아웃 함수
        function logout() {
            axios({
                method: 'POST',
                url: '/user/logout',
                withCredentials: true
            }).then((res) => {
                if (res.data.message === '로그아웃 성공') {
                    console.log('로그아웃 성공');
                    // 로그아웃 성공 시 버튼 텍스트를 'Login'으로 변경하고 페이지를 새로고침
                    const loginButton = document.querySelector('.login-button');
                    loginButton.textContent = 'Login';
                    window.location.href = '/index';
                }
            }).catch((error) => {
                console.error('Error in logout:', error);
            });
        }

        const items = document.querySelectorAll('.item');
        const expand = (item, i) => {
            items.forEach((it, ind) => {
                if (i === ind) return;
                it.clicked = false;
            });
            gsap.to(items, {
                width: item.clicked ? '15vw' : '8vw',
                duration: 2,
                ease: 'elastic(1, .6)'
            });
            item.clicked = !item.clicked;
            gsap.to(item, {
                width: item.clicked ? '42vw' : '15vw',
                duration: 2.5,
                ease: 'elastic(1, .3)'
            });
        };
        items.forEach((item, i) => {
            item.clicked = false;
            item.addEventListener('click', () => {
                expand(item, i);
                // 페이지 이동 코드 추가
                if (!item.clicked) {
                    const category = item.getAttribute('data-category');
                    window.location.href = `/commend?category=${category}`;
                }
            });
        });

        // 검색 버튼 클릭 이벤트
        const searchButton = document.querySelector('.search-button');
        const searchInput = document.querySelector('.search-input');

        searchButton.addEventListener('click', () => {
            const query = searchInput.value;
            if (query) {
                window.location.href = `/search?query=${encodeURIComponent(query)}`;
            }
        });

        // 엔터 키로 검색 버튼 클릭 이벤트
        searchInput.addEventListener('keyup', (event) => {
            if (event.key === 'Enter') {
                searchButton.click();
            }
        });
    </script>
</body>
</html>
