<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <!-- jQuery CDN (ajax 간편하게 사용하고자 불러옴) -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <!-- Axios CDN -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1>회원가입</h1>
    <form name="form_register">
      <label for="userid">ID</label>
      <input id="userid" type="text" name="userid" required /><br />
      <label for="password">Password</label>
      <input id="password" type="password" name="pw" required /><br />
      <label for="nickname">Name </label>
      <input id="nickname" type="text" name="name" required /><br />
      <button type="button" onclick="register();">Register</button>
    </form>

     <a href="/">홈</a>
    <a href="/signin">Login</a>

    <script>
      async function register() {
        console.log('click 등록 btn');
        const form = document.forms['form_register'];
        try { 
          const res = await  axios({
            method: 'POST',
            url: '/signup',
            data: {
              userid: form.userid.value,
              name: form.name.value,
              pw: form.pw.value
            }
          });
          const data = res.data
          alert('회원가입 성공');
          document.location.href = '/signin';
        } catch (error) {
          console.error(error);
          alert('회원가입 중 오류가 발생했습니다.');
        }
      };
    </script>
  </body>
</html>